* {
  padding: 0px;
  margin: 10px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

/* ---------- Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

/* ----------- Header ---------- */
.header {
  background: url(../img/banner.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

/* ----------- Header__Menu ---------- */
.header__menu {
  background: rgba(0, 0, 0, .2);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.header__menu__logo__img {
  flex: 1 1 auto;
  width: 55px;
}

/* ----------- Header__Menu__Nav ---------- */
.header__menu__nav {
  flex: 5 1 auto;
}

.header__menu__nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  padding: 0 10px;
  letter-spacing: 2px;
}

.header__menu__nav__link:hover {
  color: #4b4b4b;
}

/* ----------- Header__Menu__Social ---------- */
.header__menu__social {
  flex: 1 1 auto;
  display: flex;
}

.header__menu__social__logo__link {
  text-transform: none;
  color: #fff;
  font-size: 1.2em;
  padding: 0 5px;
}

.header__menu__social__logo__link {
  color: #4b4b4b;
}

/* ----------- Header__Principal ---------- */
.header__principal {
  background: #FF7600;
}

.header__principal__txt {
  background: #FFA900;
}

/* ----------- Section ---------- */
.section {
  background: #000;
  display: flex;
}

/* ---------- Section__Articles ---------- */
.section__articles {
  background: #21094E;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.section__articles__article {
  background: #511281;
  flex: 1 1 40%;
}

.section__articles__nav {
  background: #4CA1A3;
  flex: 1 1 100%;
}

/* ---------- Section__Aside --------- */
.section__aside {
  background: #0CECDD;
  flex: 1 1 auto;
}

.section__aside__publicity {
  background: #FFF338;
}

/* ----------- Footer ---------- */
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}

.footer__nav {
  background: #fde005;
  width: 300px;
}

/* ---------- Responsive --------- */
@media screen and (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    height: auto;
  }
  .section {
    flex-direction: column;
  }
  .section__aside {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .section__articles {
    flex-direction: column;
  }
  .section__aside {
    flex-direction: column;
  }
}